<div class="container mt-5">
    <div class="row">
        <div class="col-lg-8 offset-lg-2">
            <div class="card">
                <div class="card-body text-center">
                    <span class="title">Listado de Productos</span>
                    <button class="btn btn-success float-end" routerLink="/create-product">Nuevo</button>
                    <table class="table table-striped mt-4">
                        <thead>
                          <tr>
                            <th scope="col" class="options">Producto</th>
                            <th scope="col" class="options">Categoria</th>
                            <th scope="col" class="options">Ubicacion</th>
                            <th scope="col" class="options">Precio</th>
                            <th scope="col" class="options">Accion</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td>Teclado</td>
                            <td>Computacion</td>
                            <td>Quito</td>
                            <td>$30.00</td>
                            <td>
                              <i class="fas fa-edit text-primary"></i>
                              <i class="fas fa-trash-alt text-danger"></i>
                            </td>
                          </tr>
                          <tr>
                            <td>Monitor</td>
                            <td>Electrodomestico</td>
                            <td>Cuenca</td>
                            <td>$230.00</td>
                            <td>
                              <i class="fas fa-edit text-primary"></i>
                              <i class="fas fa-trash-alt text-danger"></i>
                            </td>
                          </tr>
                          <tr>
                            <td>Celular</td>
                            <td>Electronica</td>
                            <td>Cuenca</td>
                            <td>$730.00</td>
                            <td>
                              <i class="fas fa-edit text-primary"></i>
                              <i class="fas fa-trash-alt text-danger"></i>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                </div>
            </div>
        </div>
    </div>
</div>